@import "global.css";

.auth-form-container {
    max-width: 500px;
    min-width: 300px;
    width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  
  .method-buttons-container {
    display: flex;
    flex-direction: row;
  }

  .method-buttons-container button {
    flex: 1
  }

  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 0px;
  }

  .form-input:active {
    border: 1px solid var(--primary);
  }

  .form-button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

.active {
    background-color: var(--secondary) !important;
  }
  
.form-button:hover {
    background-color: var(--secondary);
  }